# Dotnet formatting rules
[*.cs]

# CSharp formatting rules
[*.cs]
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_indent_labels = no_change
csharp_indent_case_contents_when_block = false
csharp_space_after_cast = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_preserve_single_line_statements = false